data/
dataset/

week_1/
week_2/
week_3/
week_4/
week_5/
week_6/

.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*


.DS_Store